<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">

	<!-- Enable responsive viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Le styles -->
	<link href="{{ site.BASE_PATH }}/assets/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">

	<!-- Le fav and touch icons -->
	<!-- Update these with your own images
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	-->

	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.BASE_PATH }}/feed.xml">

   <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-53289013-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>

<body>
    
    {% if page.version %}
        {% assign version = page.version %}
        {% assign collection = page.collection %}
    {% else %}
        {% assign version = site.latest_version %}
        {% assign collection = site.latest_collection %}
    {% endif %} 

	<nav class="navbar navbar-default visible-xs" role="navigation" id="global-nav">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-parent="#global-nav" data-toggle="collapse" data-target="#navbar-collapse-main">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<button type="button" class="navbar-toggle version-toggle" data-parent="#global-nav" data-toggle="collapse" data-target="#navbar-collapse-version">
				<span class="sr-only">Toggle navigation</span>
				<span class="fa fa-terminal"><b>{{ version }}</b> version</</span>
			</button>
    		
			<a class="navbar-brand" href="{{ site.BASE_PATH }}/">
				<img src="{{ site.BASE_PATH }}/assets/media/phantomjs-small.png" class="img-circle" />
				{{ site.title }}
			</a>
		</div>
        
        <div class="panel">
            <!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="navbar-collapse-version">
    			<ul class="nav navbar-nav">
    				<li><a href="{{ site.BASE_PATH }}/4.0/" title="Version 4.0" class="active"><b>4.0</b> version</a></li>
                    <li><a href="{{ site.BASE_PATH }}/3.0/" title="Version 3.0"><b>3.0</b> version</a></li>
    			</ul>
    		</div><!-- /.navbar-collapse -->
        </div>
        
        <div class="panel">
    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="navbar-collapse-main">
    			<ul class="nav navbar-nav">
        			{% for item in site[collection] %}
                    <li><a href="{{ site.BASE_PATH}}{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
    			</ul>
    		</div><!-- /.navbar-collapse -->
        </div>
        
	</nav>
    
	<!-- version-menu-dropdown -->
	<div class="btn-group hidden-xs" id="nav-version">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-terminal"><b>{{ version }}</b> version</i>
		</button>
		<ul class="dropdown-menu" role="menu">
		    <li><a href="{{ site.BASE_PATH }}/4.0/" title="4.0 version" class="active"><b>4.0</b> version</a></li>
			<li><a href="{{ site.BASE_PATH }}/3.0/" title="3.0 version"><b>3.0</b> version</a></li>
			<li class="divider"></li>
		</ul>
	</div>
    
	<!-- nav-menu-dropdown -->
	<div class="btn-group hidden-xs" id="nav-menu">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-bars"></i>
		</button>
		<ul class="dropdown-menu" role="menu">
		    {% for item in site[collection] %}
			<li><a href="{{ site.BASE_PATH}}{{ item.url }}"><i class="fa fa-folder"></i>{{ item.title }}</a></li>
			{% endfor %}
			<li class="divider"></li>
			<li><a href="#"><i class="fa fa-arrow-up"></i>Top of Page</a></li>
		</ul>
	</div>


	<div class="col-sm-3 sidebar hidden-xs">
		{% include sidebar.html %}
	</div>

    <p id="version-notice">You are currently viewing version <span>{{ version }}</span> documentation.</p>

	<div class="col-sm-9 col-sm-offset-3">

		{{ content }}

		<footer>
			<hr/>
			<p>
				&copy; {{ site.time | date: '%Y' }} {{ site.title }}
			</p>
		</footer>
	</div>

	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>
	
</body>
</html>
