<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>
	
<article>

	<div class="col-sm-10">
	
	  <div class="article_body">
	  {{ content }}
	  </div>

    </div>

    <div class="clearfix"></div>
    
    <hr>
    <ul class="pager">
        {% if page.next %}
        <li class="previous"><a href="{{ site.BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">&larr; {{ page.next.title }}</a></li>
        {% endif %}
        {% if page.previous %}
        <li class="next"><a href="{{ site.BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }} &rarr;</a></li>
        {% endif %}
    </ul>

	
    
</article>

