<! -- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="{{ site.BASE_PATH }}/assets/media/phantomjs.png" class="img-circle" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>

{% if site.description %}
<div id="bio" class="text-center">
	{{ site.description }}
</div>
{% endif %}

<div id="contact-list" class="text-center">

	<ul class="list-unstyled list-inline">
		{% if site.github.watch %}
		<li>
            <iframe src="http://ghbtns.com/github-btn.html?user={{ site.github.username }}&repo={{ site.github.repo }}&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="83" height="20"></iframe>
		</li>
		{% endif %}
		{% if site.github.fork %}
		<li>
			<iframe src="http://ghbtns.com/github-btn.html?user={{ site.github.username }}&repo={{ site.github.repo }}&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="83" height="20"></iframe>
		</li>
		{% endif %}
	</ul>

</div>
<! -- sidebar.html end -->
